/* 
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */

@import "compass/css3";
@import "compass/css3/box-shadow";

@import "base";

/* fonts */
@font-face {
	font-family: 'Dos';
	src: url('../fonts/perfect_dos.ttf');
};


/* page layout */

body {
	font-family: Dos, Courier, monospace;
	background-color: #000;
	color:#fff;
	font-size: 18pt;
}

#console {
	position:absolute;
	top:50px;
	bottom:30%;
	left:10%;
	right:10%;
}

@media screen and (min-width: $break-small) {
	#console {
		left:15%;
		right:15%;
	}
}

@media screen and (min-width: $break-big) {
   #console {
		
		left:20%;
		right:20%;
	}
}

.keyword {
	color: #DA619D;
}

.group {
	position: relative;
    width:100%;
    height:100%;

    textarea, label {
    	font-size: 18pt;
    	font-family: Dos, Courier, monospace;
    	background-color: #000;
    	color: #fff;
    	resize: none;
	}

	label {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    z-index: 2;
	}

	textarea {
	    height: 100%;
	    width: 100%;
	    padding: 0px;
	    text-indent: 10px;
	    @include box-sizing(border-box);
	    border: none;
	    @include box-shadow(none);
	    overflow: hidden;
	}

	textarea:focus {
	    outline: none !important;
	    border: none;
	}

}




